:host {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);

  chessfield {
    @mixin fieldStyle {
      background-color: rgb(54, 54, 54);
    } 

    @for $i from 0 through 3 {

      &:nth-child(n + #{8 * 2 * $i + 1}):nth-child(-n + #{8 * ($i * 2 + 1)}):nth-child(even) {
        @include fieldStyle;
      }
      
      &:nth-child(n + #{8 * ($i * 2 + 1)}):nth-child(-n + #{8 * ($i * 2 + 2)}):nth-child(odd) {
        @include fieldStyle;
      }

      

    } 
  }

  .allowed-move {
    background-color: rgb(6, 153, 6) !important;
  }
  
}